my_bigball.img
my_product/app/OplusCamera/OplusCamera.apk
system_ext/apex/com.android.vndk.v30.apex
system_ext/priv-app/Settings/Settings.apk
my_stock.img
odm/etc/fad/license.lic
odm/etc/camera/sensetime
odm/etc/camera/model/license.lic
odm/etc/camera/license_release_fdc.lic
my_heytap.img
